[alias]
	rehook = "!rm -rf .git/hooks && git init && .git/hooks/post-commit"
[core]
	excludesfile = ~/.gitignore
[init]
	templatedir = ~/.git_template
[push]
	default = simple
[user]
	name = Ge Wang
	email = code.gewang@gmai"l.co"m

[include]
	path = .gitconfig.local
